/* .loginButton{
    display: flex;
    justify-content: center;
    align-items: center; 
} */
h1{
    text-align: center;
}

lightning-card{ 
    display: flex;
    justify-content: center;  /*Centers horizontally */
    align-items: center;     /*Centers vertically */
    min-height: 65vh; 
}